VoterRecordsInterchange/NIST_V0_voter_records_interchange_V21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="NIST_V0_voter_records_interchange.xsd" version="0.0" xmlns="NIST_V0_voter_records_interchange.xsd" xmlns:addr="http://www.fgdc.gov/schemas/address/addr" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ========== Imports ========== -->
  <xsd:import namespace="http://www.fgdc.gov/schemas/address/addr" schemaLocation="addr.xsd"/>
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/2000/09/xmldsig#"/>
  <!-- ========== Roots ========== -->
  <xsd:element name="VoterRecordsRequest" type="VoterRecordsRequest"/>
  <xsd:element name="VoterRecordsResponse" type="VoterRecordsResponse"/>
  <!-- ========== Primitives ========== -->
  <!-- ========== Enumerations ========== -->
  <xsd:simpleType name="AbsenteeBallotRequestSemantics">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="request-ab-for-next-election"/>
      <xsd:enumeration value="request-ab-for-specified-elections"/>
      <xsd:enumeration value="request-ab-for-all-elections-this-year"/>
      <xsd:enumeration value="request-permanent-absentee-status"/>
      <xsd:enumeration value="request-permanent-vote-by-mail-status"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AssertionValue">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BallotReceiptMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="email-or-online"/>
      <xsd:enumeration value="mail"/>
      <xsd:enumeration value="fax"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ContactMethodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="email"/>
      <xsd:enumeration value="phone"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdentifierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fips"/>
      <xsd:enumeration value="local-level"/>
      <xsd:enumeration value="national-level"/>
      <xsd:enumeration value="ocd-id"/>
      <xsd:enumeration value="state-level"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneCapability">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fax"/>
      <xsd:enumeration value="mms"/>
      <xsd:enumeration value="sms"/>
      <xsd:enumeration value="voice"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="identity-lookup-failed"/>
      <xsd:enumeration value="incomplete"/>
      <xsd:enumeration value="incomplete-address"/>
      <xsd:enumeration value="incomplete-name"/>
      <xsd:enumeration value="ineligible"/>
      <xsd:enumeration value="invalid-form"/>
      <xsd:enumeration value="no-birth-date"/>
      <xsd:enumeration value="no-signature"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationForm">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nvra"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationHelperType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="assistant"/>
      <xsd:enumeration value="witness"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="armed-forces-recruitment-office"/>
      <xsd:enumeration value="motor-vehicle-office"/>
      <xsd:enumeration value="other-agency-designated-by-state"/>
      <xsd:enumeration value="public-assistance-office"/>
      <xsd:enumeration value="registration-drive-from-advocacy-group-or-political-party"/>
      <xsd:enumeration value="state-funded-agency-serving-persons-with-disabilities"/>
      <xsd:enumeration value="voter-via-election-registrars-office"/>
      <xsd:enumeration value="voter-via-email"/>
      <xsd:enumeration value="voter-via-fax"/>
      <xsd:enumeration value="voter-via-internet"/>
      <xsd:enumeration value="voter-via-mail"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationProxyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="armed-forces-recruitment-office"/>
      <xsd:enumeration value="motor-vehicle-office"/>
      <xsd:enumeration value="other-agency-designated-by-state"/>
      <xsd:enumeration value="public-assistance-office"/>
      <xsd:enumeration value="registration-drive-from-advocacy-group-or-political-party"/>
      <xsd:enumeration value="state-funded-agency-serving-persons-with-disabilities"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationRequestType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The specific type of message being sent. Each type indicates a desired result by the system receiving the message. The meanings of each type will need to be explicitly stated.
        
        This attribute is optional, and if not specified (or other), the required Action attribute will determine the message semantics generically.
        
        For example: 'address update' indicates that only the voter's address should be updated on an existing voter registration. 
        'address update' requests would specify the 'update' RegistrationAction.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="registration"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReportingUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ballot-batch"/>
      <xsd:enumeration value="ballot-style-area"/>
      <xsd:enumeration value="borough"/>
      <xsd:enumeration value="city"/>
      <xsd:enumeration value="city-council"/>
      <xsd:enumeration value="combined-precinct"/>
      <xsd:enumeration value="congressional"/>
      <xsd:enumeration value="county"/>
      <xsd:enumeration value="county-council"/>
      <xsd:enumeration value="drop-box"/>
      <xsd:enumeration value="judicial"/>
      <xsd:enumeration value="municipality"/>
      <xsd:enumeration value="polling-place"/>
      <xsd:enumeration value="precinct"/>
      <xsd:enumeration value="school"/>
      <xsd:enumeration value="special"/>
      <xsd:enumeration value="split-precinct"/>
      <xsd:enumeration value="state"/>
      <xsd:enumeration value="state-house"/>
      <xsd:enumeration value="state-senate"/>
      <xsd:enumeration value="town"/>
      <xsd:enumeration value="township"/>
      <xsd:enumeration value="utility"/>
      <xsd:enumeration value="village"/>
      <xsd:enumeration value="vote-center"/>
      <xsd:enumeration value="ward"/>
      <xsd:enumeration value="water"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SignatureSource">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="dmv"/>
      <xsd:enumeration value="local"/>
      <xsd:enumeration value="state"/>
      <xsd:enumeration value="voter"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SignatureType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="digital"/>
      <xsd:enumeration value="dynamic"/>
      <xsd:enumeration value="electronic"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SuccessAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="address-updated"/>
      <xsd:enumeration value="name-updated"/>
      <xsd:enumeration value="registration-cancelled"/>
      <xsd:enumeration value="registration-created"/>
      <xsd:enumeration value="registration-updated"/>
      <xsd:enumeration value="status-updated"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterClassificationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="eighteen-on-election-day"/>
      <xsd:enumeration value="deceased"/>
      <xsd:enumeration value="declared-incompetent"/>
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="non-felon"/>
      <xsd:enumeration value="permanently-denied"/>
      <xsd:enumeration value="protected-voter"/>
      <xsd:enumeration value="restored-felon"/>
      <xsd:enumeration value="united-states-citizen"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoterIdType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="drivers-license"/>
      <xsd:enumeration value="local-voter-registration-id"/>
      <xsd:enumeration value="ssn"/>
      <xsd:enumeration value="ssn4"/>
      <xsd:enumeration value="state-id"/>
      <xsd:enumeration value="state-voter-registration-id"/>
      <xsd:enumeration value="unspecified-document-with-name-and-address"/>
      <xsd:enumeration value="unspecified-document-with-photo-identification"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ========== Interfaces Defined ========== -->
  <!-- === Interface Address === -->
  <xsd:group name="Address">
    <xsd:choice>
      <xsd:element name="CommunityAddress_type" type="addr:CommunityAddress_type"/>
      <xsd:element name="FourNumberAddressRange_type" type="addr:FourNumberAddressRange_type"/>
      <xsd:element name="GeneralAddressClass_type" type="addr:GeneralAddressClass_type"/>
      <xsd:element name="IntersectionAddress_type" type="addr:IntersectionAddress_type"/>
      <xsd:element name="LandmarkAddress_type" type="addr:LandmarkAddress_type"/>
      <xsd:element name="NumberedThoroughfareAddress_type" type="addr:NumberedThoroughfareAddress_type"/>
      <xsd:element name="TwoNumberAddressRange_type" type="addr:TwoNumberAddressRange_type"/>
      <xsd:element name="USPSGeneralDeliveryOffice_type" type="addr:USPSGeneralDeliveryOffice_type"/>
      <xsd:element name="USPSPostalDeliveryBox_type" type="addr:USPSPostalDeliveryBox_type"/>
      <xsd:element name="USPSPostalDeliveryRoute_type" type="addr:USPSPostalDeliveryRoute_type"/>
      <xsd:element name="UnnumberedThoroughfareAddress_type" type="addr:UnnumberedThoroughfareAddress_type"/>
    </xsd:choice>
  </xsd:group>
  <!-- ========== Interfaces Extended ========== -->
  <!-- ========== Classes ========== -->
  <xsd:complexType name="AbsenteeBallotRequest">
    <xsd:sequence>
      <xsd:element name="Semantics" type="AbsenteeBallotRequestSemantics"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SpecifiedElection" type="Election"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdditionalInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FileValue" type="File"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StringValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactMethod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element name="Type" type="ContactMethodType"/>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The value of the ContactMethod. This will be the text value of the phone number, email address, or other mechanism. The values must be free of any formatting characters, such as parentheses or dashes for a phone number.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Election">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExternalIdenitfier" type="ExternalIdentifier"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StartDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElectionAdministration">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Location" type="Location"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactMethod" type="ContactMethod"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Uri" type="xsd:anyURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExternalIdentifier">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element name="Type" type="IdentifierType"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="File">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="fileName" type="xsd:string"/>
        <xsd:attribute name="mimeType" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Image">
    <xsd:complexContent>
      <xsd:extension base="File">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LatLng">
    <xsd:sequence>
      <xsd:element name="Latitude" type="xsd:float"/>
      <xsd:element name="Longitude" type="xsd:float"/>
      <xsd:element minOccurs="0" name="Source" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Location">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LatLng" type="LatLng"/>
      <xsd:element minOccurs="0" name="Address">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Directions" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Name">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FullName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="MiddleName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Prefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Suffix" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExternalIdentifier" type="ExternalIdentifier"/>
      <xsd:element minOccurs="0" name="Abbreviation" type="xsd:string"/>
      <xsd:element name="Name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneContactMethod">
    <xsd:complexContent>
      <xsd:extension base="ContactMethod">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Capability" type="PhoneCapability"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RegistrationAcknowledgement">
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RegistrationHelper">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Name" type="Name"/>
      <xsd:element minOccurs="0" name="Signature" type="Signature"/>
      <xsd:element minOccurs="0" name="Address">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Phone" type="PhoneContactMethod"/>
      <xsd:element name="Type" type="RegistrationHelperType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistrationProxy">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Address">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OriginTransactionId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Phone" type="PhoneContactMethod"/>
      <xsd:element minOccurs="0" name="TimeStamp" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The date this source received the request.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="RegistrationProxyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistrationRejection">
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalDetails" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" type="RegistrationError"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherError" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RegistrationSuccess">
    <xsd:complexContent>
      <xsd:extension base="VoterRecordsResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Action" type="SuccessAction"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Districts" type="ReportingUnit"/>
          <xsd:element minOccurs="0" name="EffectiveDate" type="xsd:date"/>
          <xsd:element minOccurs="0" name="PollingPlace" type="ReportingUnit"/>
          <xsd:element minOccurs="0" name="Precinct" type="ReportingUnit"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReportingUnit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Location" type="Location"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ExternalIdentifier" type="ExternalIdentifier"/>
      <xsd:element minOccurs="0" name="IsDistricted" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Name of the reporting unit.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element name="Type" type="ReportingUnitType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Type of reporting unit, e.g., state, jurisdiction, district, etc.
            
            This field is a key into the NIST maintained registry of GpUnit types.
            The key specifies the geo-political category of the locality, the type of locality, and optionally a sub-type.
            
            If an 'Other' type or subtype is specified, then it will be defined via the OtherType value.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Signature">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Date" type="xsd:date"/>
      <xsd:element minOccurs="0" name="FileValue" type="Image"/>
      <xsd:element minOccurs="0" name="OtherSource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Source" type="SignatureSource"/>
      <xsd:element minOccurs="0" name="Type" type="SignatureType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterClassification">
    <xsd:sequence>
      <xsd:element name="Assertion" type="AssertionValue"/>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element name="Type" type="VoterClassificationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterId">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AttestNoSuchId" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="DateOfIssuance" type="xsd:date"/>
      <xsd:element minOccurs="0" name="FileValue" type="File"/>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StringValue" type="xsd:string"/>
      <xsd:element name="Type" type="VoterIdType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterRecordsRequest">
    <xsd:sequence>
      <xsd:element name="VoterRegistration" type="VoterRegistration"/>
      <xsd:element minOccurs="0" name="AbsenteeBallotRequest" type="AbsenteeBallotRequest"/>
      <xsd:element name="GeneratedDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The date of this message's creation
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Issuer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OtherType" type="xsd:string"/>
      <xsd:element minOccurs="0" ref="ds:Signature"/>
      <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="Type" type="RegistrationRequestType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The specific type of request that is being made. Each type indicates a desired result by the system receiving the message. The meanings of each type will need to be explicitly stated.
            
            This attribute is optional, and if not specified (or other), the required Action attribute will determine the message semantics generically.
            
            For example: 'address update' indicates that only the voter's address should be updated on an existing voter registration. 
            'address update' requests would specify the 'update' RegistrationAction.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="VendorApplicationId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="VoterRecordsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ElectionAdministration" type="ElectionAdministration"/>
      <xsd:element minOccurs="0" ref="ds:Signature"/>
      <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VoterRegistration">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Party" type="Party"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalInfo" type="AdditionalInfo"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VoterId" type="VoterId"/>
      <xsd:element name="Name" type="Name"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VoterClassification" type="VoterClassification"/>
      <xsd:element minOccurs="0" name="Signature" type="Signature"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactMethod" type="ContactMethod">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Contact methods, listed in order of contact preference.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="RegistrationHelper" type="RegistrationHelper"/>
      <xsd:element minOccurs="0" name="RegistrationProxy" type="RegistrationProxy"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BallotReceiptPreference" type="BallotReceiptMethod">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The voter's preference on how to receive their ballot in order from their most preferred method to least.
            
            This property is only used if this request is an absentee ballot request.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DateOfBirth" type="xsd:date"/>
      <xsd:element minOccurs="0" name="Ethnicity" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Gender" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Older systems may not understand values other than 'Male' or 'Female' (the only choices available on FPCA)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LastDateOfUSResidency" type="xsd:date"/>
      <xsd:element minOccurs="0" name="MailForwardingAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MailingAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OtherRegistrationForm" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OtherRegistrationMethod" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OverseasEmployer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PreviousName" type="Name"/>
      <xsd:element minOccurs="0" name="PreviousRegistrationAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="0" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PreviousSignature" type="Signature"/>
      <xsd:element name="RegistrationAddress">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group maxOccurs="1" minOccurs="1" ref="Address"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RegistrationAddressIsMailingAddress" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="RegistrationForm" type="RegistrationForm"/>
      <xsd:element name="RegistrationMethod" type="RegistrationMethod"/>
      <xsd:element minOccurs="0" name="SelectedLanguage" type="xsd:language">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The language specified by the voter, if any.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
